* {
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  color: black;
  width: 380px;
  height: 620px;
  background-color:chocolate;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  opacity: 1;
  border: 2px solid black;
  position: relative;
}

.heading {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 188px;
  height: 69px;
  text-align: left;
  font: normal normal medium 28px/36px Rubik;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
}
.inputName {
  position: absolute;
  top: 140px;
  left: 20px;
  width: 335px;
  height: 40px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}
.nameLabel {
  position: absolute;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #6c25ff;
  top: 131px;
  left: 34px;
  width: 65px;
  opacity: 1;
  z-index: 1;
}
.inputPhone {
  position: absolute;
  top: 209px;
  left: 20px;
  width: 335px;
  height: 40px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}
.phoneLabel {
  position: absolute;
  top: 200px;
  left: 34px;
  width: 95px;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #6c25ff;
  letter-spacing: 0px;
  opacity: 1;
  z-index: 1;
}
.inputEmail {
  position: absolute;
  top: 278px;
  left: 20px;
  width: 335px;
  height: 40px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}
.emailLabel {
  position: absolute;
  top: 269px;
  left: 34px;
  width: 90px;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  opacity: 1;
  color: #6c25ff;
  z-index: 100;
}
.inputPassword {
  position: absolute;
  top: 347px;
  left: 20px;
  width: 335px;
  height: 40px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}
.passwordLabel {
  position: absolute;
  top: 338px;
  left: 34px;
  width: 68px;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #6c25ff;
  opacity: 1;
  z-index: 1;
}
.inputCompany {
  position: absolute;
  top: 416px;
  left: 20px;
  width: 335px;
  height: 40px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}
.companyLabel {
  position: absolute;
  top: 407px;
  left: 34px;
  width: 94px;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #6c25ff;
  opacity: 1;
  z-index: 1;
}

.agencyType {
  position: absolute;
  top: 474px;
  left: 20px;
  width: 125px;
  height: 15px;
  text-align: left;
  font: normal normal normal 13px/17px Rubik;
  letter-spacing: 0px;
  opacity: 1;
}

.radioBtn1 {
  position: absolute;
  top: 504px;
  left: 25px;
  background: #6c25ff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.radioBtn2 {
  position: absolute;
  top: 504px;
  left: 100px;
  border: 1px solid #919191;
  opacity: 1;
}

.required:after {
  content: " *";
  color: red;
}
